/*Style for index.html*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-site {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  hight: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
}

.menu-item {
  margin-right: 50px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--head-text-color);
}

.header-site .logo {
  margin-right: 93px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* Site nav*/

.site-nav .link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-text-color);
}

.contact-nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/*.header-site .contact {
  margin-right: 50px;
}*/

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* head baner*/

.baner {
}

.head-baner {
  text-align: center;
  background: var(--dark-background-color);
  max-width: 100%;
  height: auto;
  margin: auto;
}

.head-logo-type {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--top-nav-color);
  padding-top: 200px;
  padding-bottom: 280px;

  margin-bottom: 30px;
}

.primary-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--top-nav-color);
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 10px 32px;
  margin-bottom: 200px;
}

.primary-button {
  color: var(--top-nav-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
}

.primary-button:hover,
.primary-button:focus {
  color: var(--top-nav-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* section*/

.section {
  margin-top: 0px;
  background: #e5e5e5;
  margin-left: 30px;
}

.section-distance {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden-header {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0px;
  border: 0px;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: calc((100% -30px) / 4);
  padding-right: 30px;
}

.content-photo {
  width: calc((100% -30px) / 3);
  padding-right: 30px;
}

.flex-photo {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--head-text-color);
  margin-bottom: 10px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-title,
.title {
  color: var(--head-text-color);
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
}

.section-position {
  background: #e5e5e5;
}

.main-heros {
  position: absolute;
  background: #f5f4fa;
}

.hero-card li img {
  border-radius: 0px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--head-text-color);
}

.hero-work {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*Style for portfolio.html*/

.title-potfolio {
  text-decoration: var(--head-text-color);
}

.title-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-text-color);
}

.title-button {
  background: #f5f4fa;
  border-radius: 4px;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.title-button:hover {
  color: var(--top-nav-color);
  background: var(--accent-color);
}

.title-button:active {
  color: var(--top-nav-color);
  background: var(--accent-color);
}

.link {
  background: var(--hero-background-color);
}

.img-work a {
  text-decoration-line: none;
}

.title-work {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration-line: none;
}

.type-work {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration-line: none;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2f303a;
}

.footer a {
  font-style: normal;
  text-decoration: none;
  color: white;
  letter-spacing: 0.03em;
}

.footer .email {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .phone {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}

.address-link {
  margin: 0;
  margin-bottom: 9px;
}
.contacts-footer .location:not(:last-child) {
  margin-bottom: 9px;
}
