/*Style for index.html*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-site {
  max-height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
}


.site-nav .menu-item :last-child {
  margin-right: 0;
}

.contact-nav .menu-item:last-child {
   margin-right: 0;
}

.site-nav {
 
  margin-left: 84px;
  width: 294px;
  height: 16px;
  letter-spacing: 0.02em;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding: auto;
  
  }

.contact-nav {
  display: flex;
  margin-left: auto;
}


.menu .menu-item+ .menu-item {
 margin-left: 50px; 
  
}

.navigation {
  display: flex;
  align-items: center;
 
}

.contact-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding: auto;
  }


.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--head-text-color);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  width: 145px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* Site nav*/

.site-nav .link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-text-color);
}

.contact-nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}


.site-nav .current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* head baner*/

.baner {
 
  
}

.head-baner {
  text-align: center;
  background: var(--dark-background-color);
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  
}

.head-logo-type {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--top-nav-color);
  display:inline-block;
  width: 696px;
  height: 120px;
  margin-top: 0;
  margin-bottom: 30px;
}
  
.primary-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--top-nav-color);
  align-items: center;
  text-align: center;
  

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
  min-width: 200px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 32px;
  
  outline: 0;
} 

.primary-button {
  color: var(--top-nav-color);
  background-color: var(--accent-color);
  
}

.primary-button:hover,
.primary-button:focus {
  color: var(--top-nav-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* section*/

.section { 
  width: 1200px;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  
  
}

.section-distance {
  width: 1200px;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
  
  
}

.hidden-header {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0px;
  border: 0px;
  height: 0px;
  width: 0px;
  overflow: hidden;
  
}

.flex-photo {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.flex-photo .content-box {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  margin-bottom: 0;
  width: 270px;
} 

.content-box:nth-child(4n) { 
margin-right: 0px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  min-height: auto;
  
}

.content-photo {
  display: flex;
  flex-wrap: wrap;
 margin-right: 30px;
  margin-bottom: 0;
  max-width: 370px;
  height: auto;
}

.content-photo {
  width: calc((100% - 60px) / 3);
  
}

.content-photo:nth-child(3n) {
  margin-right: 0px;
}


.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--head-text-color);
  margin-top: auto;
  margin-bottom: 10px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
 
}

.section-title,
.title {
  color: var(--head-text-color);
}

.main-heros {
   
  background: #f5f4fa;
}
 

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: center;
  
}


.section-title .center {
  
  text-align: center;
}

.main-heros {
  padding-top: 94px;
  padding-bottom: 94px;
  
  margin: auto;
  
}

.section-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;


}

.section-team .center {
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0;
  margin: 0;
}

.team-list .content-heros {
  width: 270px;
}
.content-heros {
  width: calc((100% -  90px) / 4);
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 0;
  
}

.content-heros p {
  padding-top: 0;
  padding-bottom: 30px;
}

.content-heros:nth-child(4n) { 
margin-right: 0px;
}

 
.content-heros {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin-right: 30px;
  margin-bottom: 0;
  width: 270px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
;
}

.content-heros:nth-child(4n) {
  margin-right: 0;
}


.hero-photo {
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--head-text-color);
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-work {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*Style for portfolio.html*/

.portfolio-page {
 width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.title-potfolio {
  background: #FFFFFF;
  text-decoration: var(--head-text-color)
  margin-left: auto;
  margin-right: auto;
}

.title-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-text-color);
   outline: 0;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid #EEEEEE;
}

.btn {
  margin-right: 8px;
  display: inline-block;
  outline: 0;
  
}

.btn:last-child {
  margin-right: 0;
}

.title-button:hover {
  color: var(--top-nav-color);
  background: var(--accent-color);
}

.title-button:active {
  color: var(--top-nav-color);
  background: var(--accent-color);
}

.menu-button {
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.img-work {
  display: flex;
  flex-wrap: wrap;
  
  
}

.img-link {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
 
.img-link:nth-child(3n) {
  margin-right: 0;
}

.img-link:nth-last-child(-n + 3) {
  margin-bottom: 0;
  
}

.img-item img {
  display: block;
  width: 370px;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
}


.img-work a {
  text-decoration-line: none;
}

.title-work {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration-line: none;
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  width: 322px;
height: 36px;
}

.type-work {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration-line: none;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  width: 322px;
height: 30px;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2f303a;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  
  margin-left: auto;
  margin-right: auto;
}

.footer .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}


.footer a {
  font-style: normal;
  text-decoration: none;
  color: white;
  letter-spacing: 0.03em;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  
}


.address {
  width: 231px;
height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

}
.footer .email {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .phone {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
  width: 145px;
height: 31px;
margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.address-link {
  margin-top: 0;
  margin-bottom: 9px;
  margin-left: 0;
  margin-right: 0;
}
.contacts-footer .location:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer {
width: auto;
height: auto;}

